<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MHZ Tester</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house me-2"></span> 홈
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="device">
                <span class="bi bi-cpu me-2"></span> 기기 제어
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="experiment">
                <span class="bi bi-sliders me-2"></span> 시험 설정
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test">
                <span class="bi bi-collection-play me-2"></span> 테스트
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plot">
                <span class="bi bi-graph-up-arrow me-2"></span> 조회
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modeling">
                <span class="bi bi-diagram-3 me-2"></span> 모델링
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="data">
                <span class="bi bi-folder2-open me-2"></span> 데이터
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs">
                <span class="bi bi-clipboard-data me-2"></span> 로그
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-gear me-2"></span> 설정
            </NavLink>
        </div>
    </nav>
</div>
