<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/MHZ_Tester.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/MHZ_Tester.Shared/app.css" />
    <link rel="stylesheet" href="MHZ_Tester.Web.styles.css" />
    <link rel="stylesheet" href="_content/MHZ_Tester.Shared/bootstrap-icons/bootstrap-icons.css" />
    <link rel="icon" type="image/png" href="_content/MHZ_Tester.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="resizable.js"></script>
</body>

</html>
